In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
# Set default Seaborn style
sns.set()

In [4]:
df = pd.read_csv('datasets/baseSCL2017.csv')

/home/nicolas/.virtualenvs/flights/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 19 columns):
Unnamed: 0    68206 non-null int64
Fecha-I       68206 non-null object
Vlo-I         68206 non-null object
Ori-I         68206 non-null object
Des-I         68206 non-null object
Emp-I         68206 non-null object
Fecha-O       68206 non-null object
Vlo-O         68205 non-null object
Ori-O         68206 non-null object
Des-O         68206 non-null object
Emp-O         68206 non-null object
DIA           68206 non-null int64
MES           68206 non-null int64
AÑO           68206 non-null int64
DIANOM        68206 non-null object
TIPOVUELO     68206 non-null object
OPERA         68206 non-null object
SIGLAORI      68206 non-null object
SIGLADES      68206 non-null object
dtypes: int64(4), object(15)
memory usage: 9.9+ MB

In [6]:
df.head()

,Unnamed: 0,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

In [7]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
for col in df.columns:
    if df[col].nunique() < 100:
        df[col] = df[col].astype('category')

In [9]:
df['Fecha-I'] = pd.to_datetime(df['Fecha-I'])
df['Fecha-O'] = pd.to_datetime(df['Fecha-O'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
Fecha-I      68206 non-null datetime64[ns]
Vlo-I        68206 non-null object
Ori-I        68206 non-null category
Des-I        68206 non-null category
Emp-I        68206 non-null category
Fecha-O      68206 non-null datetime64[ns]
Vlo-O        68205 non-null object
Ori-O        68206 non-null category
Des-O        68206 non-null category
Emp-O        68206 non-null category
DIA          68206 non-null category
MES          68206 non-null category
AÑO          68206 non-null category
DIANOM       68206 non-null category
TIPOVUELO    68206 non-null category
OPERA        68206 non-null category
SIGLAORI     68206 non-null category
SIGLADES     68206 non-null category
dtypes: category(14), datetime64[ns](2), object(2)
memory usage: 3.0+ MB

In [11]:
df.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

In [12]:
df['Ori-I'].value_counts()

SCEL    68206
Name: Ori-I, dtype: int64

In [13]:
len(df[df['Fecha-O'] > df['Fecha-I']])

45507

In [14]:
df['TIPOVUELO'].value_counts()

N    36966
I    31240
Name: TIPOVUELO, dtype: int64

In [15]:
df['SIGLAORI'].value_counts()

Santiago    68206
Name: SIGLAORI, dtype: int64

In [16]:
df.columns

Index(['Fecha-I', 'Vlo-I', 'Ori-I', 'Des-I', 'Emp-I', 'Fecha-O', 'Vlo-O',
       'Ori-O', 'Des-O', 'Emp-O', 'DIA', 'MES', 'AÑO', 'DIANOM', 'TIPOVUELO',
       'OPERA', 'SIGLAORI', 'SIGLADES'],
      dtype='object')

In [18]:
df.set_index('Fecha-I', inplace=True)

In [56]:
df.reset_index(inplace=True)

In [76]:
import datetime

In [81]:
type(datetime.time(5, 0, 0))

datetime.time

In [84]:
df.head(50)

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami
5,2017-01-06 23:30:00,226,SCEL,KMIA,AAL,2017-01-07 00:04:00,226,SCEL,KMIA,AAL,7,1,2017,Sabado,I,American Airlines,Santiago,Miami
6,2017-01-07 23:30:00,226,SCEL,KMIA,AAL,2017-01-07 23:25:00,226,SCEL,KMIA,AAL,7,1,2017,Sabado,I,American Airlines,Santiago,Miami
7,2017-01-08 23:30:00,226,SCEL,KMIA,AAL,2017-01-08 23:25:00,226,SCEL,KMIA,AAL,8,1,2017,Domingo,I,American Airlines,Santiago,Miami
8,2017-01-09 23:30:00,226,SCEL,KMIA,AAL,2017-01-10 00:10:00,226,SCEL,KMIA,AAL,10,1,2017,Martes,I,American Airlines,Santiago,Miami
9,2017-01-11 23:30:00,226,SCEL,KMIA,AAL,2017-01-12 00:39:00,226,SCEL,KMIA,AAL,12,1,2017,Jueves,I,American Airlines,Santiago,Miami
10,2017-01-14 23:30:00,226,SCEL,KMIA,AAL,2017-01-14 23:21:00,226,SCEL,KMIA,AAL,14,1,2017,Sabado,I,American Airlines,Santiago,Miami
11,2017-01-16 23:30:00,226,SCEL,KMIA,AAL,2017-01-16 23:44:00,226,SCEL,KMIA,AAL,16,1,2017,Lunes,I,American Airlines,Santiago,Miami
12,2017-01-18 23:30:00,226,SCEL,KMIA,AAL,2017-01-18 23:23:00,226,SCEL,KMIA,AAL,18,1,2017,Miercoles,I,American Airlines,Santiago,Miami
13,2017-01-21 23:30:00,226,SCEL,KMIA,AAL,2017-01-21 23:26:00,226,SCEL,KMIA,AAL,21,1,2017,Sabado,I,American Airlines,Santiago,Miami
14,2017-01-23 23:30:00,226,SCEL,KMIA,AAL,2017-01-23 23:19:00,226,SCEL,KMIA,AAL,23,1,2017,Lunes,I,American Airlines,Santiago,Miami
15,2017-01-25 23:30:00,226,SCEL,KMIA,AAL,2017-01-25 23:21:00,226,SCEL,KMIA,AAL,25,1,2017,Miercoles,I,American Airlines,Santiago,Miami
16,2017-01-28 23:30:00,226,SCEL,KMIA,AAL,2017-01-28 23:21:00,226,SCEL,KMIA,AAL,28,1,2017,Sabado,I,American Airlines,Santiago,Miami
17,2017-01-30 23:30:00,226,SCEL,KMIA,AAL,2017-01-30 23:18:00,226,SCEL,KMIA,AAL,30,1,2017,Lunes,I,American Airlines,Santiago,Miami
18,2017-01-01 22:00:00,912,SCEL,KMIA,AAL,2017-01-01 22:15:00,912,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
19,2017-01-02 22:00:00,912,SCEL,KMIA,AAL,2017-01-02 21:58:00,912,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
20,2017-01-03 22:00:00,912,SCEL,KMIA,AAL,2017-01-03 22:02:00,912,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
21,2017-01-04 22:00:00,912,SCEL,KMIA,AAL,2017-01-04 22:08:00,912,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
22,2017-01-05 22:00:00,912,SCEL,KMIA,AAL,2017-01-05 21:55:00,912,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami
23,2017-01-06 22:00:00,912,SCEL,KMIA,AAL,2017-01-06 22:52:00,912,SCEL,KMIA,AAL,6,1,2017,Viernes,I,American Airlines,Santiago,Miami
24,2017-01-07 22:00:00,912,SCEL,KMIA,AAL,2017-01-07 21:55:00,912,SCEL,KMIA,AAL,7,1,2017,Sabado,I,American Airlines,Santiago,Miami
25,2017-01-08 22:00:00,912,SCEL,KMIA,AAL,2017-01-08 22:00:00,912,SCEL,KMIA,AAL,8,1,2017,Domingo,I,American Airlines,Santiago,Miami
26,2017-01-09 22:00:00,912,SCEL,KMIA,AAL,2017-01-09 22:26:00,912,SCEL,KMIA,AAL,9,1,2017,Lunes,I,American Airlines,Santiago,Miami
27,2017-01-10 22:00:00,912,SCEL,KMIA,AAL,2017-01-10 21:57:00,912,SCEL,KMIA,AAL,10,1,2017,Martes,I,American Airlines,Santiago,Miami
28,2017-01-11 22:00:00,912,SCEL,KMIA,AAL,2017-01-11 21:55:00,912,SCEL,KMIA,AAL,11,1,2017,Miercoles,I,American Airlines,Santiago,Miami
29,2017-01-12 22:00:00,912,SCEL,KMIA,AAL,2017-01-12 22:02:00,912,SCEL,KMIA,AAL,12,1,2017,Jueves,I,American Airlines,Santiago,Miami
30,2017-01-13 22:00:00,912,SCEL,KMIA,AAL,2017-01-13 22:02:00,912,SCEL,KMIA,AAL,13,1,2017,Viernes,I,American Airlines,Santiago,Miami
31,2017-01-14 22:00:00,912,SCEL,KMIA,AAL,2017-01-14 21:53:00,912,SCEL,KMIA,AAL,14,1,2017,Sabado,I,American Airlines,Santiago,Miami
32,2017-01-15 22:00:00,912,SCEL,KMIA,AAL,2017-01-15 21:59:00,912,SCEL,KMIA,AAL,15,1,2017,Domingo,I,American Airlines,Santiago,Miami
33,2017-01-16 22:00:00,912,SCEL,KMIA,AAL,2017-01-16 22:05:00,912,SCEL,KMIA,AAL,16,1,2017,Lunes,I,American Airlines,Santiago,Miami
34,2017-01-17 22:00:00,912,SCEL,KMIA,AAL,2017-01-17 21:56:00,912,SCEL,KMIA,AAL,17,1,2017,Martes,I,American Airlines,Santiago,Miami
35,2017-01-18 22:00:00,912,SCEL,KMIA,AAL,2017-01-18 22:01:00,912,SCEL,KMIA,AAL,18,1,2017,Miercoles,I,American Airlines,Santiago,Miami
36,2017-01-19 22:00:00,912,SCEL,KMIA,AAL,2017-01-19 21:55:00,912,SCEL,KMIA,AAL,19,1,2017,Jueves,I,American Airlines,Santiago,Miami
37,2017-01-21 22:00:00,912,SCEL,KMIA,AAL,2017-01-21 22:03:00,912,SCEL,KMIA,AAL,21,1,2017,Sabado,I,American Airlines,Santiago,Miami
38,2017-01-22 22:00:00,912,SCEL,KMIA,AAL,2017-01-22 21:58:00,912,SCEL,KMIA,AAL,22,1,2017,Domingo,I,American Airlines,Santiago,Miami
39,2017-01-23 22:00:00,912,SCEL,KMIA,AAL,2017-01-23 21:56:00,912,SCEL,KMIA,AAL,23,1,2017,Lunes,I,American Airlines,Santiago,Miami
40,2017-01-24 22:00:00,912,SCEL,KMIA,AAL,2017-01-24 21:54:00,912,SCEL,KMIA,AAL,24,1,2017,Martes,I,American Airlines,Santiago,Miami
41,2017-01-25 22:00:00,912,SCEL,KMIA,AAL,2017-01-25 22:04:00,912,SCEL,KMIA,AAL,25,1,2017,Miercoles,I,American Airlines,Santiago,Miami
42,2017-01-26 22:00:00,912,SCEL,KMIA,AAL,2017-01-26 21:56:00,912,SCEL,KMIA,AAL,26,1,2017,Jueves,I,American Airlines,Santiago,Miami
43,2017-01-27 22:00:00,912,SCEL,KMIA,AAL,2017-01-27 21:56:00,912,SCEL,KMIA,AAL,27,1,2017,Viernes,I,American Airlines,Santiago,Miami
44,2017-01-28 22:00:00,912,SCEL,KMIA,AAL,2017-01-28 21:51:00,912,SCEL,KMIA,AAL,28,1,2017,Sabado,I,American Airlines,Santiago,Miami
45,2017-01-29 22:00:00,912,SCEL,KMIA,AAL,2017-01-29 21:50:00,912,SCEL,KMIA,AAL,29,1,2017,Domingo,I,American Airlines,Santiago,Miami
46,2017-01-30 22:00:00,912,SCEL,KMIA,AAL,2017-01-30 22:00:00,912,SCEL,KMIA,AAL,30,1,2017,Lunes,I,American Airlines,Santiago,Miami
47,2017-01-31 22:00:00,912,SCEL,KMIA,AAL,2017-01-31 21:58:00,912,SCEL,KMIA,AAL,31,1,2017,Martes,I,American Airlines,Santiago,Miami
48,2017-01-01 22:30:00,940,SCEL,KDFW,AAL,2017-01-01 22:31:00,940,SCEL,KDFW,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Dallas
49,2017-01-02 22:30:00,940,SCEL,KDFW,AAL,2017-01-02 22:26:00,940,SCEL,KDFW,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Dallas

In [103]:
datetime.time(5, 0, 0) < df['Fecha-I'][0].time() < datetime.time(4, 59, 0)

False

In [104]:
def get_period(row):
    if datetime.time(5, 0, 0) < row['Fecha-I'].time() < datetime.time(11, 59, 0):
        return 'mañana'
    elif datetime.time(12, 0, 0) < row['Fecha-I'].time() < datetime.time(18, 59, 0):
        return 'tarde'
    else:
        return 'noche'

In [106]:
df['Periodo_dia'] = df.apply(lambda row: get_period(row), axis=1)

In [107]:
df['Periodo_dia'].value_counts()

tarde     25050
mañana    24867
noche     18289
Name: Periodo_dia, dtype: int64